// Media Queries
$mobile: "screen and (max-width: 375px)";
$tabletlandscape: "screen and (max-width: 768px)";

// Global Colors
$black: #000000;
$white: #FFFFFF;

//Typography
$base-font: 'NeutraDisplay-Light';

$font-size: 24px;
$font-size-res: 3.25vw;
$headings: h1 h2 h3 h4 h5 h6;
$font-size-dec: 6px;